%h1
  = t( "app.home" )

%ul
  %li
    = link_to t( "app.basic_data" ), "/basic_data"
  %li
    = link_to t( "app.task" ), "/task"
  %li
    = link_to t( "app.rule" ), "/rule"
  %li
    = link_to t( "app.analyse" ), "/analyse"
  %li
    = link_to t( "app.report" ), "/report"
  %li
    = link_to t( "app.composite" ), "/composite"
