= stylesheet 'application'
= javascript 'application'  
= stylesheet_last 'page-admin'
%h2.bg_gradient
  用户
  = link_to '+ 新建用户', new_admin_user_path, :class => "btn small right"
%ul.nav.nav-pills
  %li{:class => "#{'active' unless params[:filter]}"}
    = link_to "所有用户", admin_users_path 
  %li{:class => "#{'active' if params[:filter] == "admins"}"}
    = link_to admin_users_path(:filter => "admins") do
      管理员用户
  %li{:class => "#{'active' if params[:filter] == "blocked"}"}
    = link_to admin_users_path(:filter => "blocked") do
      锁定用户

%table.admin-table
  %thead
    %th 管理员
    %th 用户名
    %th 邮箱
    %th 编辑
    %th 锁定
    %th 删除

  - @admin_users.each do |user|
    %tr
      %td= check_box_tag "admin",   1, user.admin, :disabled => :disabled
      %td= link_to user.name, [:admin, user]
      %td= user.email
      - if current_user.admin?
        - if user.admin? && current_user.id != user.id
          %td &nbsp;
        -else
          %td= link_to '编辑', edit_admin_user_path(user), :id => "edit_#{dom_id(user)}", :class => "btn small"

      - if current_user.admin?
        - if user.admin?
          %td &nbsp;
        -else
          %td
            - if user.blocked 
              = link_to '解锁', unblock_admin_user_path(user), :method => :put, :class => "btn small success"
            - else 
              = link_to '锁定', block_admin_user_path(user), :confirm => '确定要锁定该用户?', :method => :put, :class => "btn small danger"
      - if current_user.admin?
        - if user.admin?
          %td &nbsp;
        -else
          %td= link_to '删除', [:admin, user], :confirm => '确定要删除该用户?', :method => :delete, :class => "btn small danger"

= # paginate @admin_users, :theme => "admin"
