.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      = t( "app.shoot_sequence" )
    %li
      = link_to t( "app.shoot_sequences_index" ), shoot_sequences_path
    %li
      = link_to t( "app.define_dashboard" ), shoot_sequences_define_dashboard_path
    %li
      = link_to t( "app.device_area_shoot_sequence" ), device_area_shoot_sequences_path
    %li
      = link_to t( "app.device_shoot_sequence" ), device_shoot_sequences_path
    %li.nav-header
      = t( "app.ir_detection" )
    %li
      = link_to t( "app.detections_query" ), detections_path
    %li
      = link_to t( "app.batch_import" ), detections_batchimport_path
    %li
      = link_to t( "app.detection_resources" ), detection_resources_path

    %li.nav-header
      = t( "app.users_and_permission" )
    %li
      = link_to t( "app.users" ), "#"
    %li
      = link_to t( "app.permission" ), "#"
